{% extends 'ferremas/base.html' %}

{% load static %}

{% block content %}
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <div class="carousel mt-8">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="{% static 'img/banner1.jpg' %}" alt="Imagen 1">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x300" alt="Imagen 2">
            </div>
            <div class="carousel-item">
                <img src="https://via.placeholder.com/800x300" alt="Imagen 3">
            </div>
        </div>
        <button class="carousel-control prev" onclick="prevSlide()">❮</button>
        <button class="carousel-control next" onclick="nextSlide()">❯</button>
    </div>
    <script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}